<header>
    <div class="grid flex flex-row align-items-center justify-content-center">
        <div class="col-3">
            <div class="logo">
                <a routerLink="/" href=""> <img src="assets/images/eshop-logo.svg" alt="logo"></a>
            </div>
        </div>
        <div class="col-4">
            <products-search></products-search>
        </div>
        <div class="col-3 col-offset-1">
            <shop-nav></shop-nav>
        </div>
        <div class="col-1 ">
            <div class="utility-icons flex justify-content-around px-3">
                <i class="pi pi-user"></i>
                <i class="pi pi-shopping-cart"></i>
            </div>
        </div>
    </div>
</header>