$primary-color: #3d59bd;
$primary-color-dark: #102a89;
$secondary-color: #454555;
$pink-color: #fa6298;
$violet-color: #b557b6;
$orange-color: #ff8a74;
$orange-light-color: #ffc15e;
$yellow-color: #f9f871;
