<div class="admin-page">
    <p-card header="Users" subheader="List of all users">
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button routerLink="form" styleClass="p-button-primary" label="New" icon="pi pi-plus">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-12">
                <p-table styleClass="p-datatable-gridlines" [value]="users" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th>Email</th>
                            <th>Is Admin</th>
                            <th>Country</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <div *ngIf="user.isAdmin">
                                    <p-tag value="admin" icon="pi pi-check" severity="success"></p-tag>
                                </div>
                                <div *ngIf="!user.isAdmin">
                                    <p-tag value="not admin" icon="pi pi-times" severity="danger"></p-tag>
                                </div>
                            </td>
                            <td>{{user.country}}</td>
                            <td>
                                <p-button (click)="updateUser(user.id)" styleClass="p-button-primary mr-2"
                                    icon="pi pi-pencil">
                                </p-button>
                                <p-button (click)="deleteUser(user.id)" styleClass="p-button-danger" icon="pi pi-trash">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </p-card>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>